src/** text=auto eol=lf

src/Assets/Art/**/*.psd filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.psb filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.png filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.jpg filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.tga filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.exr filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.hdr filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.wav filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.ogg filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.flac filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.aiff filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.fbx filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.blend filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.mov filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.webm filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.ttf filter=lfs diff=lfs merge=lfs -text
src/Assets/Art/**/*.otf filter=lfs diff=lfs merge=lfs -text
